.form-register {
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 16px;
}

.form-register label {
  color: black;
  margin: 8px 0;
}

.form-register input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  user-select: none;
  color:white;
  background-color: black;
}

.form-register input::placeholder {
  color: var lightgray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: gray;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.form-register input[type='submit'] {
  color: white;
  width: 100%;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: blue;
  margin-top: 22px;
}

.form-register input[type='submit']:hover {
  background-color: lightskyblue;
  color: var(--white);
}

.form-register .wrapper-input {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-register p {
  color: red;
  padding: 0 2px;
  width: 100%;
}

@media (max-width:599px) {
  .form-register {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0px;
  }


}